
@font-face {
  font-family: 'Intro';
  src: url('Intro.eot?#iefix') format('embedded-opentype'),  url('Intro.otf')  format('opentype'),
	     url('Intro.woff') format('woff'), url('Intro.ttf')  format('truetype'), url('Intro.svg#Intro') format('svg');
  font-weight: normal;
  font-style: normal;
}
