@import (less) '../../bower_components/bootstrap/dist/css/bootstrap.css';
@import (less) '../../bower_components/angular-bootstrap-colorpicker/css/colorpicker.css';
@import (less) '../../bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css';

@media only screen and (min-width : 992px) {
}

h1 {
    margin-top:0px;
}

body {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
}

.search {
    padding-bottom:10px;
}

#imageOut {
    margin-top: 10px;
}


ul.thumbnails.image-picker-selector {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 185px;
    width: 100%;
}
ul.thumbnails.image-picker-selector li.group_title {
    float: none; 
}
ul.thumbnails.image-picker-selector li {
    display: inline-block;
    margin: 0px 12px 12px 0px;
    max-height: 100%;
}
ul.thumbnails.image-picker-selector li .thumbnail {
    padding: 6px;
    border: 1px solid #dddddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ul.thumbnails.image-picker-selector li .thumbnail img {
    height: 150px !important;
    width: auto !important;
    -webkit-user-drag: none;
}
ul.thumbnails.image-picker-selector li .thumbnail.selected {
    background: #0088cc;
}
